
*{
    box-sizing: border-box;
}
.gallery img{
    width: 100%;
max-width: 350px;
height: 500px;
object-fit: cover;
border-radius: 10px;
}
body{
    margin: 0px;
    font-family: sans-serif;
    background-color: #d3d3d3;
}
.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background: #0a0a23;
    color: #fff;
    border-bottom:  4px solid #00FFFF;
    font-size: 28px;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 15px;
}
.gallery::after {
    content:"";
    width: 350px;
}
@media (max-width:768px) {
    .gallery{
        flex-direction: column;
        align-items: center;
    }
    .gallery img {
        max-width: 100%;
        height: auto;
    }
}